.artStation {
  background-image: url('img/bg.jpg');
  opacity: 0;
  transition: .7s ease-in-out;
  position: relative;
  bottom: -100px;
}

.artStationActive {
  opacity: 1;
  bottom: 0;
}

.artStation__borderTop {
  grid-column-start: 1;
  grid-column-end: 4;
  border-bottom: 4px solid #93A1A5;
  transition: .9s all ease-in-out;
  transform: scaleX(0);
}

.artStation__borderTop.aos-animate {
  transform: scaleX(1);
}

.artStation__titleWrapper-header {
  color: white;
  display: flex;
  gap: 8px;
}

.artStation__titleWrapper-header-title {
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.artStation__titleWrapper-header-title-blueBox {
  border-radius: 3px;
  background-color: #0075ED;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}

.artStation__titleWrapper-description {
  font-weight: 400;
  color: #96a0a3;
}

.artStation__titleWrapper__mainContent {
  font-weight: 600;
  color: white;
  font-size: 30px;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.artStation__bottomText {
  color: #96a0a3;
  grid-column-start: 2;
  grid-column-end: 4;
}



/* ----- MEDIA <= 820px ----- */
@media screen and (max-width: 820px) {
  .artStation__borderTop {
    display: none;
  }

  .artStation__titleWrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .artStation__titleWrapper__mainContent {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

/* ----- MEDIA <= 576px ----- */
@media screen and (max-width: 576px) {
  .artStation {
    background-position: 40%;
  }

  .artStation__titleWrapper__mainContent {
    font-size: 18px;
  }
}