.form__borderTop {
  grid-column-start: 1;
  grid-column-end: 4;
  border-top: 4px solid #93A1A5;
  transition: all .9s ease-in-out;
  transform: scaleX(0);
}

.form__borderTop.aos-animate {
  transform: scaleX(1);
}

.form__title {
  font-weight: 600;
}

.form__description {
  grid-column-start: 2;
  grid-column-end: 4;
  color: #96a0a3;
}

.form__body {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
}

.form__body-input {
  max-height: 130px;
  height: 100%;
  outline: none;
  border: none;
  background-color: #0D1B26;
  color: #576C7F;
  font-family: 'Avenir', sans-serif;
}

.form__body-input::placeholder {
  color: #c92c3b;
}

.form__successText {
  font-weight: 400;
}

.form__body-button {
  text-align: left;
  font-size: 30px;
  background-color: transparent;
  color: white;
  text-decoration: underline;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 600;
}

.form__body-description {
  color: #626c70;
}

