.ourAffordablePricing {
  background-image: url('img/bg.jpg');
}

.ourAffordablePricing__title {
  grid-column-start: 2;
  grid-column-end: 4;
  font-weight: 400;
}

.ourAffordablePricing__description {
  grid-column-start: 3;
  grid-column-end: 4;
}


/* ----- MEDIA <= 820px ----- */
@media screen and (max-width: 820px) {
  .ourAffordablePricing {
    display: none;
  }
}

/* ----- MEDIA <= 576px ----- */
@media screen and (max-width: 576px) {

}