@import "fonts.css";

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  overflow-x: hidden;
}

body {
  font-family: 'Avenir', sans-serif;
  margin: 0;
  overflow-x: hidden;
  transition: padding .2s ease-in-out;
  background-color: #00050D;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 105px;
}
@media screen and (max-width: 1400px) {
  h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 22px;
  }
}

a {
  color: white;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.container {
  max-width: 1460px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}

/* Grid variant */
.grid-row {
  display: grid;
  grid-template-columns: 26% 12% 36% 26%;
}

@media screen and (max-width: 820px) {
  .grid-row {
    grid-template-columns: 25% 75%;
  }
}

.section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #00050D;
  color: white;
}

/* TODO: Replace to component */
/* ----- COMPANY NAME ----- */
.section--companyName {
  font-weight: 500;
  padding: 16px 0;
  background-color: #00050D;
  color: #011016;
  text-align: center;
  overflow: hidden;
}

/* ----- COMPANY NAME ----- */
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0C1924;
  color: white;
  z-index: 10000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all .2s ease-in-out;
}

.loaderActive {
  opacity: 1;
}

.loader-logo {
  animation: pulse 1s infinite;
  transition: all .2s ease-in-out;
  font-size: 40px;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}