.contactUs-title {
  font-weight: 600;
  margin-top: 16px;
}

.contactUs-header {
  font-weight: 400;
  grid-column-start: 2;
  grid-column-end: 4;
}

.contactUs-header-link {
  text-decoration: none;
  border-bottom: none;
}



/* ----- MEDIA <= 820px ----- */
@media screen and (max-width: 820px) {
  .contactUs {
    padding-top: 0 !important;
  }

  .contactUs-title {
    display: none;
  }

  .contactUs-header {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/* ----- MEDIA <= 576px ----- */
@media screen and (max-width: 576px) {

}