.intro {
  min-height: 916px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(to bottom, transparent, #05151F);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #00050D;
  transition: all .9s ease-in-out;
}

.intro.aos-animate {
  background-color: transparent;
}

.intro__sliderWrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
}

.intro__sliderWrapper-slider {
  max-width: 100vw;
}

.intro__sliderWrapper-slider-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro__logoBlock {
  text-align: center;
  position: relative;
}

.intro__logoBlock__borderTop {
  border-bottom: 3px solid #93A1A5;
  transition: .9s all ease-in-out;
  transform: scaleX(0);
}

.intro__logoBlock__borderTop.aos-animate {
  transform: scaleX(1);
}

.intro__logoBlock-img {
  max-width: 115px;
  height: 95px;
  width: 100%;
  background-color: #96C5C7;
  margin: 0 auto 18px auto;
}

.intro__logoBlock-title {
  font-weight: 400;
  font-size: 28px;
}

.intro__contactBlock {
  text-align: right;
}

.intro__linksBlock-list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 4px;
  margin-bottom: 24px;
}

.intro__linksBlock-list-item {
  width: min-content;
}

.intro__aboutTitle {
  font-weight: 600;
}

.intro__aboutText {
  color: #93A2A5;
  font-size: 22px;
}

.intro__aboutText--firstRow {
  grid-column-start: 3;
  grid-column-end: 5;
}

.intro__aboutText--main {
  grid-column-start: 2;
  grid-column-end: 5;
  max-width: 940px;
}
